{% extends 'banking/base.html' %} {% load static %} {% block title %} Palms Bank
- About Us {% endblock title %} {% block content %}
<section class="about" style="margin-top: 200px">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <h3><span class="bigger">A</span>bout Us</h3>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="{% static 'images/bg3.jpg' %}" alt="" width="100%" />
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <h4>
            We Recognize That Our People, Our Culture, And Our Customers
            Contribute Equal Parts To Our Success.
          </h4>
        </div>
        <div class="row mt-5">
          <p class="font-weight-bolder">Our People</p>
          <p>
            Our people are our greatest asset. We are committed to developing
            and growing employees at all levels in order to drive business
            results. We use our Performance Management and Talent Management
            practices to allow us to identify future leaders and prepare them
            for challenging roles. These practices include succession planning,
            extensive learning and development opportunities, robust feedback
            processes, and ongoing engagement by managers at all levels. We want
            to ensure we have the best people in every role.
          </p>
        </div>
        <div class="row mt-5">
          <p class="font-weight-bolder">Our Culture</p>
          <p>
            At the heart of our success is the Metro finance® culture. We
            provide our associates with a dynamic environment combined with two
            key values: Excellence and Do the Right Thing. We take pride in
            encouraging our associates to think independently in a collaborative
            setting and to present creative ideas to senior management. It's
            this type of innovative thinking that is a major part of our
            corporate growth as well as the overall success ofWema Trust Union
            Bank.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="about-bg container-fluid text-light">
    <div class="container">
      <div class="row justify-content-center mt-4">
        <h3 class="mt-5"><span class="bigger">C</span>ustomers Feedback</h3>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 col-12">
          <div class="card">
            <img
              class="card-img-top"
              src="{% static 'images/profile1.jpg' %}"
              alt=""
            />
            <div class="card-body">
              <h4 class="card-title">Laura Paul</h4>
              <p class="card-text">
                Good Day, My name is Laura i am a citizen of the United State of
                America i want to testify of the good Loan Lender(United Nations
                Insurance Bank) who showed light to me after been scammed by 4
                different Internet international lender
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card">
            <img
              class="card-img-top"
              src="{% static 'images/profile2.jpg' %}"
              alt=""
            />
            <div class="card-body">
              <h4 class="card-title">Rosy Crips</h4>
              <p class="card-text">
                I would have saved so much time and money if only I knew of my
                housing loan sooner. Well done!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card">
            <img
              class="card-img-top"
              src="{% static 'images/profile3.jpg' %}"
              alt=""
            />
            <div class="card-body">
              <h4 class="card-title">Christiana lewis</h4>
              <p class="card-text">
                My name are Michael Ryan ,i am here to testify how i got my
                mortgage fromWema Trust Union Bank after i applied several times
                for various mortgage lenders. I was in need of an urgent
                mortgage to start a business and i applied from various mortgage
                lenders who promised to help but they never gave me the
                mortgage.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<main>
  <div class="container mt-5">
    <div class="row py-2 mt-5">
      <div class="row py-2 text-start mt-5">
        <div class="col-md-3">
          <p>
            <img src="/static/images/icon/5.ico" alt="" width="10%" /><span
              class="font-weight-bolder"
            >
              Mobile Apps</span
            >
          </p>
          <p>
            Make your life experiences simpler and stay in control with Mobile
            Banking app. manage your finances; make card settlementS & transfer
            funds
          </p>
        </div>
        <div class="col-md-3">
          <p>
            <img src="/static/images/icon/6.ico" alt="" width="10%" /><span
              class="font-weight-bolder"
            >
              Security Tips</span
            >
          </p>
          <p>
            Easy to use and secure. Manage borrowers, loans, repayments, and
            reports. Software developed for cash lending industry. Manage
            borrowers, loans, repayments, reports.
          </p>
        </div>
        <div class="col-md-3">
          <p>
            <img src="/static/images/icon/7.ico" alt="" width="10%" /><span
              class="font-weight-bolder"
            >
              Various Branches</span
            >
          </p>
          <p>
            Credit cards offer exceptional benefits, rewards, services and
            spending power that can help make your financial and personal dreams
            come true.
          </p>
        </div>
        <div class="col-md-3">
          <p>
            <img src="/static/images/icon/8.ico" alt="" width="10%" /><span
              class="font-weight-bolder"
            >
              24/7 Support</span
            >
          </p>
          <p>
            access more. Customer Support. Our multi-lingual Contact Center is a
            world-class customer interaction center which offers you 24/7, real
            time information.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Zoom effect-->
</main>
{% endblock content %}
